@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-gray-500);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-800) !important;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: oklch(0.6 0 0);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
